@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model User

@if (SignInManager.IsSignedIn(User))
{
	String pageRoute = ViewContext.RouteData.Values["Action"].ToString();
	
    
	var currentuser = UserManager.FindByNameAsync(User.Identity.Name).Result;
	string mailtolinkStr = "mailto:" + Model.Email;

        <div class="card mb-3 profilecard-little">
        <div class="card-body profileheader" style="background-image:url(@Model.CoverPicture);">
            
         <h3 class="card-title profileheader-text"> @Model.DisplayName</h3>
        
            <a class="mailtolink profileheader-text" href="@mailtolinkStr"> <h4 class=" card-subtitle">@Model.UserName</h4></a>
            <p class="card-subtitle profileheader-text">@Model.Location</p>
            
   </div>
        <!--<img class="coverImage" src="@currentuser.CoverPicture" />-->
      <div class="card-body blurbwithimage">
		<img class="profileImage-little" src="@Model.ProfilePicture"/>	<p class="card-text bio-little">@Model.Bio</p>
            </div>
		

		@if (Model.IsSelf(currentuser))
		{
			
				<a href="~/Profiles/Edit" class="btn btn-primary btn-alltheway">Edit Profile</a>
            
        }
        else
        {
            if (currentuser.IsFollowing(Model))
            {
                
                <form asp-action="Unfollow" asp-controller="Profiles">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary btn-alltheway">Unfollow</button>
                </form>
                
            }
            else
            {
                <form asp-action="Follow" asp-controller="Profiles">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary btn-alltheway">Follow</button>
                </form>
      
        
        }
          
        }
        @if(Model.Links.Count() != 0)
        {
         <ul class="list-group list-group-flush">
			@{Link l = Model.Links.First();
                string url1 = "https://www.google.com/s2/favicons?domain=" + l.URL;
                }
                <li class="list-group-item">
                <a href="@l.URL"><img src="@url1">@l.URL</a>
                </li>
            
        </ul>
		}
		else
		{
		<p class="card-text">No Links</p>
		}
        
         

                <a href="~/user/@Model.Id" class="btn btn-primary btn-alltheway">
                    See Full Profile
                </a>
           
        
       
        </div>
}
else{}